
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #0b7c8a;
$primary-dark: #085B66;

$mygrey: #f9f9f9;
$mygrey-light: #f4f4f4;
$mygrey-dark: #979797;
